.repos h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.repos_container {
  background-color: #2e2d2d3f;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}