.repo {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 10px;
  /* border: 2px solid #9da5d1; */
  border: 2px solid #4ed8c7;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  align-items: start;
  gap: 1rem;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.stats {
  display: flex;
  gap: 1rem;
}

.stats div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  border-radius: 3px;
  border: 1px solid #9da5d1;
  padding-right: 1.4rem;
}

.stats svg {
  background-color: #4ed8c7;
  padding: .2rem .4rem;
  font-size: 2rem;
}

.repo_btn {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  color: #3da5d1;
  background-color: #2b3566;
  gap: 0.5rem;
}

