.search {
  background-color: #2e2d2d3f;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search p {
  color: #9da5d1;
}

.search_container {
  display: flex;
  gap: 0.5rem;
}

.search_container input,
.search_container button {
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
  color: #9da5d1;
}

.search_container button {
  background-color: #1a1a1a;
}

@media (max-width: 375px) {
  .search {
    height: 250px;
    justify-content: space-around;
  }

  .search h2 {
    text-align: left;
  }

  .search p {
    text-align: left;
  }
}

@media (max-width: 400px) {
  .search {
    padding: 1rem; /* menos padding para caber na tela */
    gap: 0.5rem;   /* reduzir espaço entre elementos */
    text-align: center;
  }

  .search_container {
    /*flex-direction: column;  coloca input e botão em coluna */
    width: 100%;            /* ocupa toda a largura disponível */
    gap: 0.5rem;
  }

  .search_container input,
  .search_container button {
    width: 100%;
    padding: 0.6rem; /* reduzir padding para caber */
  }

  .search_container input {
    width: 85%;
  }

  .search_container button {
    width: 15%;
  }
}
