.search {
  background-color: #2e2d2d3f;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search p {
  color: #9da5d1;
}

.search_container {
  display: flex;
  gap: 0.5rem;
}

.search_container input,
.search_container button {
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
  color: #9da5d1;
}

.search_container button {
  background-color: #1a1a1a;
}